@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html,
body,
#root {
    height: 100%;
    margin: 0;
}

@theme base {
    --color-primary: #f0f3ff;
    --color-primary-100: #e4ebff;
    --color-primary-200: #c9d7fe;
    --color-primary-300: #adc3fe;
    --color-primary-400: #8eaffe;
    --color-primary-500: #6599fd;
    --color-primary-600: #2f87fd;
    --color-primary-700: #1075e4;
    --color-primary-800: #0c64c5;
    --color-primary-900: #03346b;
    --color-primary-950: #011d41;
}

[data-theme='light'] {
    --color-primary: #f0f3ff;
    --color-primary-100: #e4ebff;
    --color-primary-200: #c9d7fe;
    --color-primary-300: #adc3fe;
    --color-primary-400: #8eaffe;
    --color-primary-500: #6599fd;
    --color-primary-600: #2f87fd;
    --color-primary-700: #1075e4;
    --color-primary-800: #0c64c5;
    --color-primary-900: #03346b;
    --color-primary-950: #011d41;
}

[data-theme='dark'] {
    --color-primary: #0c64c5;
    --color-primary-100: #0b5fbc;
    --color-primary-200: #0853a6;
    --color-primary-300: #064a95;
    --color-primary-400: #053f80;
    --color-primary-500: #03366f;
    --color-primary-600: #022b5c;
    --color-primary-700: #02234c;
    --color-primary-800: #01193a;
    --color-primary-900: #01102a;
    --color-primary-950: #000718;
}

[data-theme='lavender'] {
    --color-primary: #f4f2fe;
    --color-primary-100: #e7e2fe;
    --color-primary-200: #d0c5fc;
    --color-primary-300: #baa7fb;
    --color-primary-400: #a78bfa;
    --color-primary-500: #9065f8;
    --color-primary-600: #7a33f5;
    --color-primary-700: #5e15c8;
    --color-primary-800: #430c92;
    --color-primary-900: #27055a;
    --color-primary-950: #17023c;
}

[data-theme='slate'] {
    --color-primary: #eef1f5;
    --color-primary-100: #dee3eb;
    --color-primary-200: #b9c4d7;
    --color-primary-300: #98aac4;
    --color-primary-400: #7c8fab;
    --color-primary-500: #64748b;
    --color-primary-600: #505d70;
    --color-primary-700: #3b4554;
    --color-primary-800: #272f39;
    --color-primary-900: #171c23;
    --color-primary-950: #0d1117;
}


[data-theme='desert'] {
    --color-primary: #fbf2ee;
    --color-primary-100: #f7e4dd;
    --color-primary-200: #f0cab8;
    --color-primary-300: #eaac8b;
    --color-primary-400: #d58d5f;
    --color-primary-500: #af734d;
    --color-primary-600: #8b5a3b;
    --color-primary-700: #68432b;
    --color-primary-800: #4a2e1c;
    --color-primary-900: #2c190e;
    --color-primary-950: #1b0e06;
}

[data-theme='fire'] {
    --color-primary: #ffedeb;
    --color-primary-100: #ffdedb;
    --color-primary-200: #ffb7b2;
    --color-primary-300: #ff9287;
    --color-primary-400: #ff6249;
    --color-primary-500: #ea3e00;
    --color-primary-600: #bf3100;
    --color-primary-700: #902200;
    --color-primary-800: #681600;
    --color-primary-900: #3f0a00;
    --color-primary-950: #290400;
}

[data-theme='jungle'] {
    --color-primary: #cbfce2;
    --color-primary-100: #95f9c8;
    --color-primary-200: #68e2aa;
    --color-primary-300: #5ac795;
    --color-primary-400: #4dac81;
    --color-primary-500: #40916c;
    --color-primary-600: #327456;
    --color-primary-700: #24573f;
    --color-primary-800: #163b2a;
    --color-primary-900: #092217;
    --color-primary-950: #04140c;
}