.card {
    background-color: var(--st-color-surface);
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    border: 1px solid var(--st-color-divider);
}

.card.theme-inverted {
    background-color: var(--sankhya-inverted-bg);
    border-color: var(--sankhya-inverted-bg);
}


.card-bordered {
    border: 1px solid var(--st-color-divider);
}

.card-elevation-sm {
    box-shadow: 0 1px 2px var(--st-shadow-color-sm);
}

.card-elevation-md {
    box-shadow: 0 4px 6px -1px var(--st-shadow-color-md), 0 2px 4px -1px var(--st-shadow-color-sm);
}

.card-elevation-lg {
    box-shadow: 0 10px 15px -3px var(--st-shadow-color-lg), 0 4px 6px -2px var(--st-shadow-color-md);
}

.card-hoverable:hover {
    transform: translateY(-4px);
    box-shadow: 0 20px 25px -5px var(--st-shadow-color-xl), 0 10px 10px -5px var(--st-shadow-color-lg);
    border-color: var(--st-color-border);
}

.card-padding-none {
    padding: 0;
}

.card-padding-sm {
    padding: 16px;
}

.card-padding-md {
    padding: 24px;
}

.card-padding-lg {
    padding: 32px;
}