.hero-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  z-index: 2;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}



.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  z-index: 1;
}

.hero-text-primary {
  color: var(--color-primary);
}

.hero-title {
  font-size: 1.5rem;
  /* text-2xl */
  line-height: 2rem;
  font-weight: 700;
  /* font-bold */
  margin-bottom: 0.75rem;
  /* mb-3 */
  width: 100%;
}

.hero-subtitle {
  font-size: 0.875rem;
  /* text-sm */
  line-height: 1.25rem;
  margin-bottom: 1rem;
  /* mb-4 */
  width: 100%;
  max-width: 42rem;
  /* max-w-2xl */
}

.hero-actions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero-btn-primary {
  background-color: var(--color-primary-600);
  color: var(--color-primary);
  font-size: 0.875rem;
  /* text-sm */
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
}

.hero-btn-primary:hover {
  background-color: var(--color-primary-500);
}

@media (min-width: 640px) {

  /* sm */
  .hero-title {
    font-size: 1.875rem;
    /* text-3xl */
    line-height: 2.25rem;
  }

  .hero-subtitle {
    font-size: 1rem;
    /* text-base */
    line-height: 1.5rem;
  }

  .hero-actions {
    flex-direction: row;
  }

  .hero-btn-primary {
    font-size: 1rem;
    /* text-base */
    padding: 0.5rem 1.5rem;
    /* px-6 py-3 */
  }
}

@media (min-width: 768px) {

  /* md */
  .hero-text {
    padding: 2rem;
    /* p-8 */
  }

  .hero-title {
    font-size: 2.25rem;
    /* text-4xl */
    line-height: 2.5rem;
    margin-bottom: 1rem;
    /* mb-4 */
  }

  .hero-subtitle {
    font-size: 1.125rem;
    /* text-lg */
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    /* mb-6 */
    max-width: 48rem;
    /* max-w-3xl */
  }

  .hero-btn-primary {
    font-size: 1.125rem;
    /* text-lg */
  }
}

@media (min-width: 1024px) {

  /* lg */
  .hero-text {
    padding: 3rem;
    /* p-12 */
  }

  .hero-title {
    font-size: 3rem;
    /* text-5xl */
    line-height: 1;
  }

  .hero-subtitle {
    font-size: 1.25rem;
    /* text-xl */
    line-height: 1.75rem;
  }
}

@media (min-width: 1280px) {

  /* xl */
  .hero-title {
    font-size: 3.75rem;
    /* text-6xl */
    line-height: 1;
  }
}