:root.dark {
   --st-primary-color: oklch(97.913% 0.00011 271.152);
   --st-primary-background: oklch(11.862% 0.03663 260.411 / 0.808);
   --st-font-family: "Open Sans";
}

:root.red {
   --st-primary-color: oklch(25.8% 0.092 26.042);
   --st-primary-background: oklch(97.1% 0.013 17.38);
   --st-font-family: 'Arimo';
}

:root.amber {
   --st-primary-color: oklch(27.9% 0.077 45.635);
   --st-primary-background: oklch(98.7% 0.022 95.277);
   --st-font-family: "Open Sans";
}

:root.lime {
   --st-primary-color: oklch(27.4% 0.072 132.109);
   --st-primary-background: oklch(98.6% 0.031 120.757);
   --st-font-family: "Quicksand";
}

:root.teal {
   --st-primary-color: oklch(27.7% 0.046 192.524);
   --st-primary-background: oklch(98.4% 0.014 180.72);
   --st-font-family: "Nunito";
}

:root.cyan {
   --st-primary-color: oklch(30.2% 0.056 229.695);
   --st-primary-background: oklch(98.4% 0.019 200.873);
   --st-font-family: "Arimo";
}

:root.sky {
   --st-primary-color: oklch(29.3% 0.066 243.157);
   --st-primary-background: oklch(97.7% 0.013 236.62);
   --st-font-family: "Almendra";
}

:root.blue {
   --st-primary-color: oklch(28.2% 0.091 267.935);
   --st-primary-background: oklch(97% 0.014 254.604);
   --st-font-family: "Miranda Sans";
}

:root.indigo {
   --st-primary-color: oklch(25.7% 0.09 281.288);
   --st-primary-background: oklch(96.2% 0.018 272.314);
   --st-font-family: "Nunito";
}

:root.fuchsia {
   --st-primary-color: oklch(29.3% 0.136 325.661);
   --st-primary-background: oklch(97.7% 0.017 320.058);
   --st-font-family: "Quicksand";
}

:root.pink {
   --st-primary-color: oklch(28.4% 0.109 3.907);
   --st-primary-background: oklch(97.1% 0.014 343.198);
   --st-font-family: "Open Sans";
}