.utility-button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-950);
    transition: background-color 0.2s ease;
    position: relative;
}

.utility-button:hover {
    background-color: var(--color-primary-100);
}

.utility-button.active {
    background-color: var(--color-primary-200);
    color: var(--color-primary-900);
}

.icon-button-badge {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-primary-600);
    color: var(--color-primary);
    font-size: 0.75rem;
    /* text-xs */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.icon-button-icon {
    width: 20px;
    height: 20px;
}