name: Publish SankhyaUI

on:
  workflow_dispatch:
  release:
    types: [created]

jobs:
  build-and-publish:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        name: Setup pnpm

      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://npm.pkg.github.com/
          scope: '@sankhyatronics'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        working-directory: SankhyaUI
        run: pnpm build

      - name: Publish
        working-directory: SankhyaUI
        run: pnpm publish --tag alpha --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
